/**
 * Styles for the BU Post Chooser for CMB2
 */

/* START: Typeahead */
.typeahead, .tt-query, .tt-hint {
	border: 2px solid #ccc;
	border-radius: 8px;
	font-size: 18px;
	line-height: 30px;
	outline: medium none;
	padding: 3px 6px;
	width: 600px;
}
.typeahead {
	background-color: #fff;
}
.typeahead:focus {
	border: 2px solid #0097cf;
}
.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
	color: #999;
}
.tt-dropdown-menu {
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 0;
	width: 422px;
}
.tt-suggestion {
	font-size: 18px;
	line-height: 24px;
	padding: 3px 20px;
	border-bottom: 1px solid #F1F1F1;
}
.tt-suggestion:last-child {
	border: none;
}
.tt-suggestion.tt-cursor {
	background-color: #0097cf;
	color: #fff;
}
.tt-suggestion p {
	margin: 0;
}
/* END: Typeahead */

/* START: Modal and Interactions */
.post-chooser-modal {
	display:none;
}
.post-chooser-target {
	padding: 3px 6px;
}

.choose-dropdown,
.choose-dropdown option {
	font-size: 18px;
	width: 600px;
	overflow: hidden;
	white-space: pre;
	text-overflow: ellipsis;
	-webkit-appearance: none;
}
.choose-dropdown option {
	width: 590px;
	padding: 3px 2px;
}
.selection-new {
	margin-top: 30px;
	display: none;
}
.current-selection {
	padding: 10px;
	margin: 10px 0;
	background-color: #ffffe0;
	border: 1px solid #e6db55;
}
.current-selection {
	background-color: #ffffe0;
	border: 1px solid #FF0000;
}
.selection-confirm {
	padding: 10px 8px;
}
.selection-remove {
	display: none;
}
/* END: Modal and Interactions */